@charset "utf-8";
/* _button.scss */
.button_area{
    display: block;
    position: relative;
    overflow: hidden;
    height: 56px;
    padding-top: 5px;
}
.btn_counseling_area{
    position: fixed;
    bottom: 16px;
    width: 100%;
    z-index: 20;
}
.btn_counseling{
    position: absolute;
    right:50%;
    transform: translate(50%, 0);
    display: block;
    width: 240px;
    height: 47px;
    margin: 0 auto;
    border-radius: 27px;
    background-color: #ff6a6c;
    animation-name: counseling;
    animation-duration:1s;
    animation-fill-mode: forwards;
    animation-delay:2s;
    .logo{
        position: absolute;
        top:-6px;
        left:6px;
        width:58px;
        height: 53px;
        background-position: 76.76767676767676% 20.100502512562816%;
        animation-name: counseling_logo;
        animation-duration:1s;
        animation-fill-mode: forwards;
        animation-delay:2s;
    }
    .button_text{
        position: absolute;
        top:8px;
        left: 67px;
        width:106px;
        height: 13px;
        background-position: 0 44.11764705882353%;
        animation-name: counseling_text;
        animation-duration:1s;
        animation-fill-mode: forwards;
        animation-delay:2s;

    }
    .button_text2{
        position: absolute;
        top:23px;
        left: 67px;
        width:152px;
        height: 14px;
        background-position: 0 0;
        animation-name: counseling_text;
        animation-duration:1s;
        animation-fill-mode: forwards;
        animation-delay:2s;
    }
    .button_text3{
        position: absolute;
        top:6px;
        left: 50%;
        transform: translate(-50%, 0);
        width:29px;
        height: 15px;
        background-position: 97.816594% 23.958814%;
        opacity: 0;
        animation-name: counseling_text2;
        animation-duration:1s;
        animation-fill-mode: forwards;
        animation-delay:2s;
    }    
    @-webkit-keyframes counseling{
        0%{
            width:240px;
        }
        100%{
            width:56px;
            height: 56px;
            right:16px;
            transform: translate(0, 0);
        }
    }
    @-webkit-keyframes counseling_logo{
        0%{
            top:-5px;
            left:6px;
        }
        100%{
            top:22px;
            left:3px;
        }
    }
    @-webkit-keyframes counseling_text{
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
    @-webkit-keyframes counseling_text2{
        0%{
            opacity: 0;
        }
        100%{
            opacity: 1;
        }
    }    
}
.btn_change_information{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 73px;
    height: 29px;
    @include borderadius(15px);
    border: 0.5px solid #8d95a0;
    line-height: 28px;
    font-size: 14px;
    color: #8d95a0;
}
.btn_banner_close{
    position: absolute;
    top: 0;
    right: 0;
    padding: 5px;
    &:before{
        width: 16px;
        height: 17px;
        background-position: 85% 49.572649572649574%;
    }
}
.btn_search_back{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 10px;
    &:before{
        width: 24px;
        height: 25px;
        background-position: 96.151724% 56.29469%;
    }
}
.btn_home{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    padding: 0 9px;
    &:before{
        width: 24px;
        height: 25px;
        background-position: 22.313793% 100%;
    }
}
.main_header{
    .search_button{
        position: absolute;
        top: 15px;
        left: 13px;
        width: 24px;
        height: 24px;
        background-position: 33.62068965517241% 99.7999999%;
    }
}
.search_header{
    .search_box{
        position: relative;
        .search_button{
            position: absolute;
            top: 8px;
            left: 10px;
            width: 14px;
            height: 16px;
            background-position: 73.605551% 95.780591%;
        }
        .delete_button{
            display: none;
            position: absolute;
            top: 7px;
            right: 9px;
            width: 18px;
            height: 18px;
            background-position: 59.583333333333336% 96.59574468085107%;
            &.show{
                display: block;
            }
        }
    }
}
.btn_more{
    position: absolute;
    top: 2px;
    right: 20px;
    color: #8d95a0;
    &:after{
        width: 15px;
        height: 16px;
        vertical-align: -3px;
        background-position: 80.16528925619835% 95.78059071729957%;
    }
}
.btn_move_top{
    position: fixed;
    right: 15px;
    bottom: 15px;
    width: 43px;
    height: 44px;
    z-index: 10;
    background-position: 73.83177570093459% 70.33492822966507%;
}
.btn_play{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 32px;
    height: 37px;
    margin-top: -1px;
    background-position: 49.12% 27.57%;
    z-index: 10;
}
.btn_cancle{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 48px;
    padding: 0 8px;
    font-size: 15px;
    color: #4e5263;
    z-index: 10;
    &.show{
        display: block;
    }
}
.menu_button{
    display: none;
    position: absolute;
    top: 0;
    right: 1px;
    height: 100%;
    padding: 0 10px;
    &:before{
        width: 24px;
        height: 24px;
        margin-top: 2px;
        background-position: 44.527586206896555% 88.44625550660793%;
    }
    &.show{
        display: block;
    }
}
.btn_last_week{
    width: 7px;
    height: 10px;
    background-position: 100% 52.697095435684645%;
}
.btn_next_week{
    width: 7px;
    height: 11px;  
    background-position: 100% 57.555349%;
    margin-top: -0.5px;
}
.btn_week_view{
    height: 32px;
    padding: 0 12px;
    color: #475377;
    @include borderadius(16px);
    border: 0.5px solid #475377;
    line-height: 30.5px;
    color: #475377;
}
.btn_share{
    width: 27px;
    height: 26px;
    background-position: 97.3913043478261% 32.44444444444444%;
}
.send_button{
    position: absolute;
    top: 8px;
    right: 11px;
    width: 33px;
    height: 32px;
    background-position: 100% 0.453%;
}
.btn_close{
    position: absolute;
    top: 16px;
    right: 16px;
    width: 24px;
    height: 24px;
    background-position: 11.606897% 88.346256%;
}
.counseling_body{
    .btn_move_top{
        bottom: 82px;
    }
    .counseling_search_container{
        .btn_counseling_area{
            position: fixed;
            bottom: 0;
            right: 0;
            width: 100%;
            // padding-bottom: 16px;
        }
    }
}
.video_home_body{
    .btn_move_top{
        bottom: 88px;
    }
}
.btn_write{
    position: fixed;
    right: 16px;
    bottom: 16px;
    width: 56px;
    height: 56px;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.12);
    background-color: #ff5a5c;  
    @include borderadius(28px);
    &:before{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 26px;
        height: 26px;
        background-position: 67.24137931034483% 88.54625550660793%;
    }
}
.btn_youtube{
    display: inline-block;
    height: 28px;
    padding: 0 10px 0 8px;
    @include borderadius(21px);
    border: 1px solid #e1e4e6;
    @include boxsizing;
    line-height: 26px;
    text-align: left;
    &:before{
        display: inline-block;
        width: 24px;
        height: 17px;
        margin-right: 3px;
        background-position: 100% 84.869492%;
        vertical-align: 0;
        content: '';
    }
    .btn_txt{
        margin-left: -3px;
        font-size: 10px;
        font-weight: bold;
        color: #5c6073;
        vertical-align: 5px;
    }
}