@charset "utf-8";
/* _button.scss */
.btn_more{
    position: absolute;
    top: 2px;
    right: 20px;
    color: #8d95a0;
    &:after{
        width: 15px;
        height: 16px;
        vertical-align: -3px;
        background-position: 80.16528925619835% 95.78059071729957%;
    }
}