@charset "utf-8";
/* _footer.scss */
.footer{
	background-color:#f0f2f4;
}
.footer_inner{
    position: relative;
    width: 912px;
    margin: 0 auto;
    padding: 41px 0 42px 0;
    color: #8d95a0;
    @include boxsizing;
    .common-footer-img-logo{
        display: block;
        width: 72px;
        height: 20px;
        margin-bottom: 7px;
    }
    .menu_list{
        margin-bottom: 6px;
        .list_item{
            float: left;
            +.list_item{
                margin-left: 16px;
            }
            a{
                font-size: 12px;
                font-weight: 700;
                color: #8d95a0;
                letter-spacing: -0.4px;
            }
        }
        &:after{
            @include clear;
        }
    }
    .company_info{
        margin-bottom: 14px;
        font-size: 0;
        line-height: 1.75;
        .company_info_words, .company_info_content{
            display: inline-block;
            font-size: 12px;
        }
        .company_info_words{
            margin-right: 1.5px;
            &:first-child{
                margin-right: 0;
            }
        }
        .company_info_content{
            &:after{
                display: inline-block;
                width: 0.5px;
                height: 9px;
                margin: 0 3px;
                background-color: #bcc1c8;
                vertical-align: -1px;
                content: '';
            }
            &:last-child{
                &:after{
                    display: none;
                }
            }
        }
    }
    .social_list{
        display: inline-block;
        position: relative;
        z-index: 20;
        .list_item{
            float: left;
            +.list_item{
                margin-left: 20px;
            }
            a{
                display: block;
            }
            .common-footer-btn-instagram{
                width: 26px;
                height: 26px;
            }
            .common-footer-btn-youtube{
                width: 29px;
                height: 20px;
                margin-top: 2px;
            }
            .common-footer-btn-facebook{
                width: 26px;
                height: 26px;
            }
            .common-footer-btn-appstore{
                width: 22px;
                height: 26px;
            }
            .common-footer-btn-playstore{
                width: 20px;
                height: 22px;
            }
        }
        &:after{
            @include clear;
        }
        &.store{
            margin-left: 20px;
            padding-left: 20px;
            vertical-align: 1px;
            .list_item{
                &:first-child{
                    margin-top: -2px;
                }
            }
            &:before{
                position: absolute;
                top: 3px;
                left: 0;
                width: 1px;
                height: 20px;
                background-color: #8d95a0;
                content: '';
            }
        }
    }
    .family_site_box{
        position: absolute;
        right: 0;
        bottom: 41px;
        .btn_site{
            min-width: 112px;
            padding: 3px 5px 3px 10px;
            border: 0.5px solid #8d95a0;
            @include borderadius(1px);
            text-align: left;
        }
        .btn_txt{
            margin-right: 10px;
            font-size: 12px;
            font-weight: 700;
            letter-spacing: -0.4px;
            color: #8d95a0;
        }
        .common-ic-more-small{
            display: inline-block;
            width: 16px;
            height: 16px;
            vertical-align: middle;
        }
        .family_site_layer{
            display: none;
            position: absolute;
            bottom: 28px;
            width: 100%;
            padding: 8px 0;
            @include borderadius(1px);
            @include boxsizing;
            border: 0.5px solid #8d95a0;
            background-color: #f0f2f4;
            .list_item{
                +.list_item{
                    margin-top: 7px;
                }
                &:hover{
                    .menu_txt{
                        color: #4e5263;
                    }
                }
                .menu_txt{
                    display: block;
                    padding: 2.5px 10px;
                    font-size: 11px;
                    font-weight: 400;
                    letter-spacing: -0.37px;
                    color: #8d95a0;
                }
            }
            &.show{
                display: block;
            }
        }

    }
}