@charset "utf-8";
/* _header.scss */
.header{

}
.header_banner{
    display: none;
    .header_banner_area{
        display: block;
    }
    .header_banner_inner{
        position: relative;
        width: 912px;
        margin: 0 auto;
    }
    &.show{
        display: block;
    }
    .common-btn-close{
        position: absolute;
        top: 20px;
        right: 0;
        width: 32px;
        height: 32px;
    }
}
.header_inner{
    position:relative;
    height: 72px;
    margin: 0 auto;
    box-shadow: 0 0.5px 0 0 rgba(255, 90, 92, 0.3);
    background-color: #fef9f7;
    .header_inner_con{
        width: 912px;
        height: 100%;
        margin: 0 auto;
        padding: 16px 0;
        @include boxsizing;
    }
    .header_right_con{
        float: right;
        &:after{
            @include clear;
        }
    }
    .logo_title{
        float: left;
        width: 120px;
        height: 27px;
        margin-top: 7px;
    }
    .common-gnb-logo{
        display: block;
        width: 120px;
        height: 27px;
    }
    .header_menu_list{
        float: left;
        margin: 11px 0 0 38px;
        .list_item{
            float: left;
            +.list_item{
              margin-left: 44px;  
            }
            .menu_txt{
                font-size: 15px;
                font-weight: 400;
                letter-spacing: -0.4px;
                color: #4e5263;
            }
            &.show{
                .menu_txt{
                    font-weight: 700;
                    color: #ff5a5c;
                }
            }
        }
        &:after{
            @include clear;
        }
    }
    .search_box{
        position: relative;
        float: left;
        width: 280px;
        height: 40px;
        @include borderadius(10px);
        background-color: #fff;
        line-height: 40px;
        .common-ic-input-search{
            position: absolute;
            top: 13px;
            left: 10px;
            width: 15px;
            height: 16px;
        }
        .keyword_layer{
            display: none;
            position: absolute;
            top: 43px;
            left: 0;
            box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.12);
            border: 1px solid #f0f2f4;
            background-color: #fff;
            @include borderadius(10px);
            z-index: 10;
            .section_info{
                padding: 16px 16px 9px;
                line-height: 1.15;
                .section_tit{
                    font-size: 16px;
                    font-weight: 700;
                    letter-spacing: -0.4px;
                    color: #4e5263;
                }
            }
            &.show{
                display: block;
            }
        }
    }
    .login_info{
        float: right;
        margin: 2px 0 0 15px;
        .login_button{
            .btn_login{
                height: 33px;
                margin: 2px 0 0 0;
                padding: 0 16px 0 17px;
                border: 1px solid #ff5a5c;
                @include borderadius(21px);
                font-weight: bold;
                letter-spacing: -0.4px;
                text-align: center;
                color: #ff5a5c;
                line-height: 31px;
            }
        }
        .login_content{
            position: relative;
            min-width: 99px;
            text-align: right;
            display: none;
            .btn_login_txt{
                position: relative;
                display: inline-block;
                margin-bottom: 7px;
                .user_name{
                    padding-right: 15px;
                    font-weight: 700;
                    letter-spacing: -0.4px;
                    color: #4e5263;
                }
                .common-btn-ic-dropdown-mini-none{
                    position: absolute;
                    top: 4px;
                    right: 0;
                    width: 10px;
                    height: 8px;
                }
                &.show{
                    .common-btn-ic-dropdown-mini-none{
                        background: url("../img/sprite.svg") 99.66996699669967% 37.39376770538244% no-repeat;
                    }
                }
            }
            .logout_layer{
                display: none;
                position: absolute;
                top: 19px;
                left: 0;
                padding: 10px 7px 10px 15px;
                box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.12);
                border: 1px solid #f0f2f4;
                background-color: #fff;
                @include borderadius(10px);
                text-align: left;
                .btn_txt{
                    margin-right: 2px;
                    font-weight: 400;
                    letter-spacing: -0.4px;
                    color: #4e5263;
                    vertical-align: middle;
                }
                .common-btn-ic-logout{
                    display: inline-block;
                    width: 19px;
                    height: 14px;
                    vertical-align: middle;
                }
                &.show{
                    display: block;
                }
            }
            .login_txt{
                display: block;
                font-size: 12px;
                font-weight: 400;
                letter-spacing: -0.4px;
                color: #8d95a0;
            }
        }
        &.show{
            .login_content{
                display: block;
            }
            .login_button{
                display: none;
            }
        }
    }
}
.autocomplet_list{
    display: none;
    overflow: hidden;
    position: absolute;
    top: 44px;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 2px 0 rgba(0, 0, 0, 0.12);
    border: 1px solid #f0f2f4;
    @include borderadius(10px);
    z-index: 10;
    .list_item{
        border-bottom: 1px solid #f0f2f4;
        background-color: rgba(255, 255, 255, 0.1);
        .autocomplet_keyword_area{
            display: block;
            height: 48px;
            padding: 0 20px;
            line-height: 48px;
            font-weight: 400;
            letter-spacing: -0.4px;
            color: #4e5263;
            &:hover{
                background-color: rgba(0, 0, 0, 0.03);
            }
            .point_txt{
                color: #ff5a5c;
                font-weight: normal;
            }
        }
        &:last-child{
            border-bottom: 0;
        }
    }
    &.show{
        display: block;
    }
}
.search_header{
    .header_inner{
        padding: 8px 0;
        box-shadow: 0 1px 0 0 #f8f8f8;
    }
    .search_area{
        padding: 0 44px;
    }
    .search_box{
        height: 32px;
        padding: 0 36px 0 33px;
        @include borderadius(10px);
        background-color: #f7f7f7;
        line-height: 32px;
    }
}