@charset "utf-8";
/* _layout.scss */
.wrap{
    min-width: 1024px;
    height: 100%;
}
.error_wrap{
    position: relative;
    min-height: 1080px;
}
.content_inner{
    width: 912px;
    margin: 0 auto;
}