@charset "utf-8";
/* _list.scss */
.page_info{
    box-shadow: 0 0.5px 0 0 #e1e4e6;
    .page_info_list{
        width: 912px;
        height: 42px;
        margin: 0 auto;
        line-height: 42px;
        @include boxsizing;
        .list_item{
            float: left;
            +.list_item{
                margin-left: 8px;
                &:before{
                    display: inline-block;
                    width: 16px;
                    height: 16px;
                    margin: -2px 5px 0 0;
                    background: url("../img/sprite.svg") 92.66666666666667% 66.3768115942029% no-repeat;
                    vertical-align: middle;
                    content:'';
                }
            }
        }
        .menu_txt{
            font-size: 14px;
            font-weight: 400;
            letter-spacing: -0.37px;
            color: #5c6073;
        }
        span.menu_txt{
            color: #4e5263;
        }
        &:after{
            @include clear;
        }
    }
}
.tab_area{
    border-bottom: 1px solid #f8f8f8;
    .tab_list{
        text-align: center;
        .list_item{
            display: inline-block;
            min-width: 170px;
            &.show{
                .tab_menu{
                    &:after{
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        width: 100%;
                        height: 2px;
                        padding: 0 28px 0 29px;
                        background-color: #ff5a5c;
                        transform: translate(-50%, 0);
                        -webkit-transform: translate(-50%, 0);
                        -moz-transform: translate(-50%, 0);
                        content: '';
                    }
                }
            }
        }
        .tab_menu{
            position: relative;
            display: inline-block;
            height: 48px;
            line-height: 48px;
            font-size: 15px;
            font-weight: 400;
            letter-spacing: -0.4px;
            color: #4e5263;
        }
        &:after{
            @include clear;
        }
    }
}
.top_section{
    .content_list{
        position: relative;
        height: 443px;
    }
}
.card_list{
    margin: 0 -8px;
    .list_item{
        @include boxsizing;
    }
    .content_info{
        padding: 8px 2px;
        .info_tit{
            display: block;
            margin-bottom: 4px;
            font-size: 12px;
            color: #8d95a0;
            @include ellipse;
        }
        .info_txt{
            max-height: 43px;
            font-size: 14px;
            font-weight: 700;
            color: #4e5263;
            overflow: hidden;
            line-height: 22px;
            .point_txt{
                color: #ff5a5c;
            }
        }
    }
    .list_item{
        float: left;
        width: 216px;
        margin: 0 8px;
    }
    .like_area{
        display: block;
        position: absolute;
        top: 8px;
        right: 10px;
        font-size: 0;
        .common-ic-thumnail-like{
            display: inline-block;
            width: 15px;
            height: 14px;
            vertical-align: -6px;
        }
        .number{
            display: inline-block;
            margin-left: 3px;
            font-family: Roboto;
            font-size: 15px;
            font-weight: 700;          
            color: #fff;
            vertical-align: middle;
        }
    }
    &:after{
        @include clear;
    }
}

.encyclopedia_list{
    .encyclopedia_content{
        display: block;
        width: 100%;
        min-height: 300px;
    }
    .encyclopedia_content{
        .thumb_img{
            position: relative;
            img{
                width: 100%;
                @include borderadius(4px);
            }
        }
    }
}
.video_list{
    .video_area_top{
        height: 200px;
    }
    .video_area{
        height: 200px;
    }
    &.search_video_list{
        margin: 0 -7.5px;
        .list_item{
            float: left;
            width: 294px;
            margin: 0 7.5px 23px;
        }
        .video_menu_list{
            .list_item{
                width: auto;
                margin: 0;
                +.list_item{
                    margin-left: 14px;
                }
            }
        }
        .video_area_bottom{
            padding: 12px 2px 40px;
        }
        &:after{
            @include clear;
        }
    }
}
.encyclopedia_list, .video_list{
    .new_symbol{
        position: absolute;
        top: -2px;
        left: 10px;
        width: 36px;
        height: 41px;  
        padding: 12px 0 0 4px;            
        background-position: 50% 7.619047619047619%;
        font-family: Roboto;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        @include boxsizing;
        z-index: 10;
    }
}
.section.event_section .pettok_info_area .pettok_area{
    height: 69px;
    padding: 10px 16px 6px;
    .thumb_area{
        @include layout_table_cell;
        width: 50px;
        background: none;
        img{
            width: 50px;
            height: 50px;
        }
    }
}
.pettok_list{
    .list_item{
        border-bottom: 1px solid #f8f8f8;
        padding: 0 16px;
    }
    .pettok_area{
        @include layout_table;
        height: 71px;
        padding: 9px 0;
        @include boxsizing;
        &.no_thumb_area{
            padding: 16px 0 14px;
            .pettok_content{
                padding: 0;
                vertical-align: top;
                @include boxsizing;
                .content_txt{
                    margin-bottom: 7px;
                }
            }
        }
    }
    .thumb_area{
        @include layout_table_cell;
        width: 54px;
        height: 54px;
        @include borderadius(4px);
        img{
            width: 54px;
            height: 54px;
            @include borderadius(4px);
        }
    }
    .pettok_content{
        @include layout_table_cell;
        padding: 0 12px;
        vertical-align: middle;
        .content_txt{
            margin-bottom: 5px;
            font-size: 15px;
            color: #4e5263;
            @include ellipse;
            .new_symbol{
                display: inline-block;
                height: 17px;
                margin-right: -1px;
                padding: 0.5px 4px 0;
                border:1px solid #ff5a5c;
                line-height: 15px;
                font-family: Roboto;
                font-size: 12px;
                font-weight: bold;
                color: #ff5a5c;
                @include boxsizing;
                vertical-align: 1px;
            }
            .point_txt{
                color: #ff5a5c;
            }
        }
        .content_day{
            display: inline-block;
            font-size: 0;
            color: #8d95a0;
            .content_info_txt{
                margin-right: 6px;
                font-size: 12px;
            }
            .number{
                font-family: Helvetica;
                font-size: 12px;
            }
            @include ellipse;
        }
    }
    .reply_area{
        @include layout_table_cell;
        width: 50px;
        padding-bottom: 8px;
        font-weight: normal;
        font-size: 12px;
        color: #8d95a0;
        vertical-align: bottom;
        .number{
            font-family: Helvetica;
            font-size: 12px;          
        }
    }
}
.keyword_list{
    padding: 0 11px 9px;
    .list_item{
        float: left;
        margin: 6px 4px;
        .keyword{
            position: relative;
            display: block;
            min-width: 46px;
            height: 36px;
            padding: 0 10px 0 9px;
            line-height: 34px;
            border: 0.5px solid #fff;
            @include boxsizing;
            color: #4e5263;
            text-align: center;
            border: 0.5px solid #c9cdd3;
            @include borderadius(6px);
        }
    }
    &:after{
        @include clear;
    }
}
.banner_list{
    margin: 14px -6px 0 0;
    .list_item{
        float: left;
        .banner_area{
            display: block;
            width: 222px;
            height: 97px;    
            img{
                width: 100%;
                @include borderadius(14px);
            }      
        }
        +.list_item{
            margin-left: 10px;
        }
    }
    &:after{
        @include clear;
    }
}
.encyclopedia_list, .video_list{
    .common-thumb-ic-new{
        position: absolute;
        top: -2px;
        left: 10px;
        width: 38px;
        height: 43px;
        padding: 10px 0 0 5px;            
        font-family: Roboto;
        font-size: 12px;
        font-weight: 700;
        color: #fff;
        @include boxsizing;
        z-index: 10;
    }
}
.pettok_info_area .pettok_area{
    @include layout_table;
    height: 72px;
    padding: 10px 16px 9px;
    .thumb_area{
        @include layout_table_cell;
        width: 50px;
        background: none;
        img{
            width: 50px;
            height: 50px;
            @include borderadius(100%);
        }
    }
    .pettok_content{
        @include layout_table_cell;
        padding: 0 12px;
        vertical-align: middle;
        .content_txt{
            margin-bottom: 5px;
            font-size: 15px;
            color: #4e5263;
            @include ellipse;
        }
        .content_day{
            display: inline-block;
            color: #8d95a0;
            .content_info_txt{
                margin-right: 6px;
                font-size: 12px;
            }
            .number{
                font-family: Helvetica;
                font-size: 12px;
            }
            @include ellipse;
        }
    }
    .reply_area{
        @include layout_table_cell;
        width: 50px;
        padding-bottom: 8px;
        font-weight: normal;
        font-size: 12px;
        color: #8d95a0;
        vertical-align: bottom;
        .number{
            font-family: Helvetica;
            font-size: 12px;          
        }
    }
}
.reply_input_area{
    height: 72px;
    background-color: #f0f0f0;
    padding: 12px 12px;
    @include boxsizing;
    .reply_input_box{
        position: relative;
        display: block;
        height: 48px;
        line-height: 48px;
        background-color: #fff;
        @include borderadius(4px);
    }
    .reply_input_txt_area{
        padding: 17px 0 0 16px;
        font-size: 15px;
        font-weight: 400;
        line-height: 0.93;
        letter-spacing: -0.4px;
        color: #4e5263;
    }
    .chat-detail-btn-send-disable{
        position: absolute;
        top: 7px;
        right: 10px;
        display: inline-block;
        width: 34px;
        height: 34px;
    }
}
.reply_list{
    .list_item{
        position: relative;
        +.list_item{
            border-top: 1px solid #f0f2f4;
        }
    }
    .reply_area_box{
        @include layout_table;
        height: 72px;
        padding: 11px 16px;
        background-color: #f8f8f8;
        @include boxsizing;
        .thumb_area{
            @include layout_table_cell;
            width: 50px;
            img{
                width: 50px;
                height: 50px;
                @include borderadius(100%);
            }
        }
        .reply_content{
            @include layout_table_cell;
            padding-left: 12px;
            vertical-align: middle;
        }
        .reply_info{
            margin-bottom: 5px;
            color: #a9afb3;
            .user_name{
                padding-right: 6px;
                font-size: 15px;
                color: #4e5263;
            }
            .number{
                font-family: Helvetica;
            }
        }
        .reply_txt{
            padding-right: 32px;
            color: #4e5263;
            @include ellipse;
        }
    }
    .common-btn-delete{
        position: absolute;
        right: 12px;
        bottom: 15px;
        width: 24px;
        height: 24px;
        background: url(../img/common-btn-delete.svg) 0 0 no-repeat;
        z-index: 10;
    }
}
.counseling_list{
    border-top: 0.5px solid #f8f8f8;
    .list_item{
        border-bottom: 0.5px solid #f8f8f8;
    }
    .counseling_content{
        display: block;
        padding: 19.5px 16px 15px;
        .counseling_content_info{
            margin-bottom: 6px;
            .counseling_tit{
                display: block;
                font-size: 15px;
                color: #4e5263;
                @include ellipse;
                .new_symbol{
                    display: inline-block;
                    height: 17px;
                    margin-right: 5px;
                    padding: 0 4px;
                    border:1px solid #ff5a5c;
                    line-height: 16px;
                    font-family: Roboto;
                    font-size: 12px;
                    font-weight: bold;
                    color: #ff5a5c;
                    @include boxsizing;
                    vertical-align: 1px;
                }
            }
            .day{
                float: right;
                font-size: 12px;
                color: #8d95a0;
                .number{
                    font-family: Helvetica;
                }
            }
        }
        .counseling_txt{
            max-height: 44px;
            margin-bottom: 10px;
            font-size: 15px;
            color: #4e5263;  
            overflow: hidden;
            line-height: 22px;
            letter-spacing: -0.4px;
            font-weight: 400;
            .point_txt{
                font-weight: normal;
                color: #ff5a5c;
            }
        }
    }
    .recommend_area{
        .btn_recommend{
            font-size: 12px;
            color: #8d95a0;
            .common-ic-recommend{
                display: inline-block;
                width: 21px;
                height: 21px;
                margin: 0 4px 0 -2px;
                vertical-align: middle;
            }
            em{
                vertical-align: -1px;
            }
            .number{
                font-family: Helvetica;
                vertical-align: -1px;
            }
        }
    }
}
.recommend_info_list{
    margin-left: -20px;
    padding-right: 140px;
    .list_item{
        float: left;
        margin: 0 0 22px 20px;
        &:before{
            display: inline-block;
            width: 4px;
            height: 4px;
            margin: 6.5px 1px 0 0;
            background-color: #4e5263;   
            vertical-align: top;           
            content: '';
        }
        .list_txt{
            font-size: 15px;
            color: #4e5263;
        }
    }
    &:after{
        @include clear;
    }
}