@charset "utf-8";
/* _section.scss */
.main_container{
    .section{
        margin-bottom: 42px;
        &.video_section{
            padding: 0;
            border-bottom: 0;
            .section_info{
                margin-bottom: 0;
            }
            .content_list{
                position: relative;
            }
            .video_area{
                overflow: hidden;
                position: relative;
                height: 163px;
                border-top-left-radius: 14px;
                -webkit-border-top-left-radius: 14px;
                -moz-border-top-left-radius: 14px;
                border-top-right-radius: 14px;
                -webkit-border-top-right-radius: 14px;
                -moz-border-top-right-radius: 14px;
                &:before{
                    position: absolute;
                    top: 0;
                    right: 0;
                    bottom: 0;
                    left: 0;
                    z-index: 5;
                    background-color: rgba(0, 0, 0, 0.1);
                    border-top-left-radius: 14px;
                    -webkit-border-top-left-radius: 14px;
                    -moz-border-top-left-radius: 14px;
                    border-top-right-radius: 14px;
                    -webkit-border-top-right-radius: 14px;
                    -moz-border-top-right-radius: 14px;
                    content:'';
                }
                .video{
                    img{
                        width: 100%;
                    }
                }
            }
        }
        &.banner_section{
            margin-bottom: 100px;
        }
    }
}
.theme_list_container{
    .section{
        margin-bottom: 47px;
        .section_info{
            margin-bottom: 0;
        }
    }
    .page_navi{
        margin-bottom: 97px;
        text-align: center;
        [class*="btn-patination"]{
            width: 34px;
            height: 34px;
        }
        .number_list{
            display: inline-block;
            margin: 9px 17px 0;
            vertical-align: top;
            font-size: 0;
            .list_item{
                display: inline-block;
                +.list_item{
                    margin-left: 23px;
                }
                &.on{
                    .number{
                        font-weight: 700;
                        color: #ff5a5c;
                    }
                }
            }
            .number{
                font-family: Roboto;
                font-size: 15px;
                font-weight: 400;
                color: #4e5263;
            }
        }
    }
}
.content_home_container{
    .video_section{
        margin-bottom: 60px;
    }
}
.section{
    margin: 30px 0 30px;
    .section_info{
        position: relative;
        margin-bottom: 20px;
        .section_title{
            padding-right: 70px;
            font-size: 24px;
            font-weight: 700;
            letter-spacing: -0.4px;
            color: #4e5263;
            @include ellipse;
        }
        .btn_more{
            position: absolute;
            bottom: 0;
            right: 0;
            color: #8d95a0;
            .common-btn-more{
                display: inline-block;
                width: 16px;
                height: 16px;
                vertical-align: -3px;
            }
        }
    }
    .content_list{
        position: relative;
    }
    &.top_section{
        margin-top: 54px;
    }
    &.counseling_section{
        height: 335px;
        margin: 0;
        padding-top: 30px;
        @include boxsizing;
        .section_info{
            margin-bottom: 0;
        }
        &:before{
            position: absolute;
            top: 72px;
            left: 0;
            right: 0;
            width: 100%;
            height: 335px;
            background-color: #edeff7;
            content: '';
        }
        .swipe-btn-left{
            top: 128px;
        }
        .swipe-btn-right{
            top: 128px;
        }
    }
    &.encyclopedia_section{
        margin: 30px 0 38px;
    }
    &.pettok_section{
        margin-bottom: 141px;
        .pettok_list{
            border-top: 1px solid #f8f8f8;
        }
    }




    &.nodata_section{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
        -webkit-transform:translate(-50%, -50%);
        -moz-transform:translate(-50%, -50%);
        text-align: center;
        &:before{
            display: block;
            width: 110px;
            height: 89px;
            margin: 0 auto 14.5px;
            background-position: 0 9.75609756097561%;
            content: '';
        }
        .nodata_txt{
            font-size: 15px;
            color: #8d95a0;
            line-height: 1.3;
            .point_txt{
                color: #4e5263;
            }
        }
    }
    &.error_section{
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        padding-bottom: 56px;
        transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
        -webkit-transform:translate(-50%, -50%);
        -moz-transform:translate(-50%, -50%);
        text-align: center;
        &:before{
            display: block;
            width: 240px;
            height: 256px;
            margin: 0 auto 24px;
            background: url(../img/common-img-404-error.svg) 0 0 no-repeat;
            content: '';
        }
        .error_tit{
            display: block;
            margin-bottom: 10px;
            font-size: 17px;
            font-weight: bold;
            color: #4e5263;
        }
        .error_txt{
            font-size: 14px;
            color: #8d95a0;
        }
    }
}
.bookmark_txt_area{
    display: none;
    position: fixed;
    bottom: 16px;
    left:50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    height: 33px;
    padding: 0 16.5px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    background-color: rgba(78, 82, 99, 0.9);
    @include borderadius(4px);
    line-height: 33px;
    white-space: nowrap;
    z-index: 20;
    .bookmark_txt{
        color: #fff;
    }
    &.show{
        display: block;
    }
}