@charset "utf-8";
/* _slider.scss */
.wrap {
    .swiper-slide{
        width: 294px;
        height: 407px;
        @include borderadius(14px);
        box-shadow: 0 5px 20px 0 rgba(78, 82, 99, 0.15);
        .thumb_img{
            width: 294px;
            height: 339px;
            img{
                width: 100%;
                border-top-left-radius: 14px;
                -webkit-border-top-left-radius: 14px;
                -moz-border-top-left-radius: 14px;
                border-top-right-radius: 14px;
                -webkit-border-top-right-radius: 14px;
                -moz-border-top-right-radius: 14px;
            }
        }
        .slide_top{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 339px;
            padding: 20px 20px;
            @include boxsizing;
            border-top-left-radius: 14px;
            -webkit-border-top-left-radius: 14px;
            -moz-border-top-left-radius: 14px;
            border-top-right-radius: 14px;
            -webkit-border-top-right-radius: 14px;
            -moz-border-top-right-radius: 14px;
            .top_tit{
                display: block;
                margin-bottom: 8px;
                color: rgba(0, 0, 0, 0.4);
            }
            .top_txt{
                font-weight: 700;
                font-size: 20px;
                line-height: 1.25;
                letter-spacing: -0.4px;
                color: rgba(0, 0, 0, 0.7);
              
            }
        }
        .slide_bottom{
            height: 68px;
            padding: 15px 15px;
            background-color: #fff;
            @include boxsizing;
            border-bottom-left-radius: 14px;
            -webkit-border-bottom-left-radius: 14px;
            -moz-border-bottom-left-radius: 14px;
            border-bottom-right-radius: 14px;
            -webkit-border-bottom-right-radius: 14px;
            -moz-border-bottom-right-radius: 14px;
            .bottom_txt{
                height:38px;
                overflow:hidden;
                line-height: 1.36;
                color: #4e5263;
            }
        }
    }
    .swiper-wrapper{
        padding: 16px 0 20px;
    }
    .swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled{
        display: none;
    }
    .swipe-btn-left, .swipe-btn-left2{
        top: 223px;
        left: -27px;
        width: 46px;
        height: 46px;
        &:after{
            display: none;
        }
    }
    .swipe-btn-right, .swipe-btn-right2{
        top: 223px;
        right: -27px;
        width: 46px;
        height: 46px;
        &:after{
            display: none;
        }
    }
}
.tab_area.swiper-container{
    .swiper-wrapper{
        padding: 0;
    }
    .swiper-slide.tab_list{
        width: auto;
        height: 48px;
        @include borderadius(0);
        box-shadow:none;
    }
}

.video_section{
    .swiper-slide{
        height: 248px;
        background-color: #fff;
    }
    .video_area_top{
        height: 163px;
        padding: 0;
    }
    .video_area{
        position: relative;
        height: 163px;
        background-color: blue;
        &:before{
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 5;
            background-color: rgba(0, 0, 0, 0.1);
            content:'';
        }
        .play_info{
            position: absolute;
            right: 10px;
            bottom: 10px;
            height: 18px;
            padding: 0 4px;
            @include borderadius(2px);
            background-color: rgba(78, 82, 99, 0.9);
            line-height: 16px;
            z-index: 10;
        }
        .video-ic-play{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -webkit-transform: translate(-50%, -50%);
            -moz-transform: translate(-50%, -50%);
            width: 34px;
            height: 39px;
            z-index: 10;
        }
        .play_time{
            font-family: Roboto;
            font-size: 11px;
            color: #fff;
        }
    }
    .video_area_bottom{
        padding: 16px 20px 24px;
        @include boxsizing;
        .bottom_tit{
            display: block;
            margin-bottom: 3px;
            line-height: 1.53;
            letter-spacing: -0.4px;
            color: #4e5263;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
        }
    }
    .video_menu_list{
        .list_item{
            float: left;
            +.list_item{
                margin-left: 12px;
            }
            span{
                font-size: 0;
            }
            .number{
                display: inline-block;
                margin-left: 4px;
                font-family: Helvetica;
                font-size: 13px;
                font-weight: 700;
                color: #4e5263;
                vertical-align: middle;
            }
        }
        .like_area{
            .life-ic-like{
                display: inline-block;
                width: 22px;
                height: 22px;
                vertical-align: middle;
            }
        }
        .view_area{
            .life-ic-view{
                display: inline-block;
                width: 22px;
                height: 22px;
                vertical-align: middle;
            }
        }
        &:after{
            @include clear;
        }
    }
    .swipe-video-btn-left{
        top: 143px;
        left: -27px;
        width: 46px;
        height: 46px;
        &:after{
            display: none;
        }
    }
    .swipe-video-btn-right{
        top: 143px;
        right: -27px;
        width: 46px;
        height: 46px;
        &:after{
            display: none;
        }
    }
}
.counseling_section{
    .swiper-slide{
        width: 174px;
        height: 226px;
        @include borderadius(14px);
        box-shadow: 1px 1px 8px 0 rgba(141, 149, 160, 0.15);
        background-color: #fff;
    }
    .counseling_content{
        display: block;
        height: 226px;
        padding: 14px 14px 9px;
        @include boxsizing;
        .counseling_day{
            display: block;
            margin-bottom: 9px;
            font-size: 12px;
            color: #8d95a0;
            .number{
                font-family: Helvetica;
            }
        }
        .counseling_txt{
            max-height: 147px;
            font-size: 15px;
            font-weight: 400;
            line-height: 1.4;
            letter-spacing: -0.4px;
            color: #4e5263;          
            overflow:hidden;
            .new_symbol{
                display: inline-block;
                height: 17px;
                margin-right: 1px;
                padding: 0.5px 4px 0;
                border:1px solid #ff5a5c;
                line-height: 15px;
                font-family: Roboto;
                font-size: 12px;
                font-weight: bold;
                color: #ff5a5c;
                @include boxsizing;
                vertical-align: 1px;
            }
            .point_txt{
                color: #ff5a5c;
                font-weight: normal;
            }
        }
        .recommend_area{
            position: absolute;
            bottom: 14px;
            left: 12px;         
            .btn_recommend{
                font-size: 0;
                color: #8d95a0;
                .common-ic-recommend{
                    display: inline-block;
                    width: 21px;
                    height: 21px;
                    margin-right: 4px;
                    vertical-align: middle;
                }
                em{
                    margin-right: 4px;
                    font-size: 12px;
                    font-weight: 400;
                    vertical-align: middle;
                    letter-spacing: -0.4px;
                }
                .number{
                    font-family: Helvetica;
                    font-size: 12px;
                    font-weight: 400;
                    vertical-align: middle;
                    letter-spacing: -0.4px;
                }
            }
        }
    }
}
.today_content_section{
    .swiper-wrapper{
        padding: 12px 0 20px;
    }
    .flickity-slider{
        left: 0 !important;
    }
    .swiper-slide{
        width: 312px;
        height: 413px;
        @include borderadius(14px);
        box-shadow: 1px 1px 8px 0 rgba(141, 149, 160, 0.15);
        background-color: #fff;
    }
    .today_content_top{
        padding: 20px 24px;
        border-bottom:1px solid #f8f8f8;
        .content_tit{
            display: block;
            font-size: 24px;
            line-height: 1.25;
            color: #4e5263;
        }
    }
    .today_content_bottom{
        .list_item{
            +.list_item{
                border-top: 1px solid #f8f8f8;
            }
        }
        .today_content_area{
            @include layout_table;
            height: 60px;
            padding: 10px 20px 14px;
        }
        .thumb_area{
            @include layout_table_cell;
            width: 36px;
            height: 36px;
            vertical-align: middle;
            img{
                width: 36px;
                height: 36px;
                @include borderadius(4px);
            }
        }
        .today_content{
            @include layout_table_cell;
            vertical-align: middle;
            padding: 0 0 0 12px;
            .content_txt{
                color: #4e5263;
                @include ellipse;
            }
            .topic_tit{
                font-size: 11px;
                color: #8d95a0;
            }
        }
    }
}
.detail_list_section{
    .magazine_list{
        margin-bottom: -20px;
        .swiper-wrapper{
            padding-top: 0;
        }
        .swiper-slide{
            width: 156px;
            height: 199px;
            @include borderadius(14px);
            border: 0.5px solid #e1e4e6;
            background-color: #fff;
            box-shadow: none;
        } 
        .magazine_content{
            height: 199px;
            border:0;
            border-radius: 0;
            .thumb_img{
                width: 156px;
                height: 120px;
            }
        }
        .content_info{
            padding: 12px 12px;
            .info_tit{
                margin-bottom: 7px;
            }
        }
    }
    .encyclopedia_list{
        .swiper-wrapper{
            padding: 0 ;
        }
        .swiper-slide{
            width: 156px;
            height: 220px;
            background-color: #fff;
            @include borderadius(0);
            border: 0;
            box-shadow: 0 0 0 0;
        }
        .encyclopedia_content{
            height: 220px;
            .thumb_img{
                width: 156px;
                height: 156px;
                img{
                    border-radius: 0;
                }
            }
            .content_info{
                padding: 8px 2px 4px;
            }
        }
    }
}
.detail_img_area{
    position: relative;
    padding: 11px 16px 0;
    img{
        width: 100%;
    }
    .swiper-pagination{
        bottom: 116px !important;
        .swiper-pagination-bullet{
            overflow: hidden;
            width: 8px;
            height: 8px;
            margin: 0 3px;
            background-color: rgba(53, 61, 94, 0.15);   
            opacity: 1;
            line-height: 2;
        }
        .swiper-pagination-bullet-active{
            background-color: rgba(53, 61, 94, 0.5);
        }
    }
    .btn_share{
        position: absolute;
        right: 16px;
        bottom: 110px;
        z-index: 10;
    }
    .swiper-wrapper{
        padding: 0;
    }
    .swiper-slide{
        padding-bottom: 144px;
        height: auto;
        border-radius: 0;
        box-shadow: none;
    }
    .list_txt{
        position: absolute;
        padding: 0 16px;
        bottom: 56px;
        font-size: 15px;
        color: #4e5263;
    }
}
.swiper-container-horizontal>.swiper-pagination-bullets{
    width: auto !important;
    left: 50% !important;
    transform: translate(-50%, 0);
    -ms-transform: translate(-50%, -0%);
    -webkit-transform: translate(-50%, -0%);
    -moz-transform: translate(-50%, -0%);
}