@charset "utf-8";
/* _tab_menu.scss */
.tab_area{
    position: relative;
    &:after{
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 48px;
        background: url(../img/filter-swipe@2x.png) 0 0 no-repeat;
        background-size:  32px 48px;
        z-index: 10;
        content:'';
    }
}
.tab_list{
    .list_item{
        display: inline-block;
        .tab_menu{
            position: relative;
            display: inline-block;
            min-width: 78px;
            height: 48px;
            line-height: 48px;
            text-align: center;
            font-size: 15px;
            color: #4e5263;
        }
        &.show{
            .tab_menu{
                font-weight: bold;
                color: #4e5263;
                &:after{
                    position: absolute;
                    width: 100%;
                    height: 2px;
                    bottom: 0;
                    left: 0;
                    background-color: #ff5a5c;
                    z-index: 10;
                    content:'';
                }
            }
        }
    }
}
.no_swiper4, .no_swiper3{
    .tab_list .list_item{
        display: block;
        .tab_menu{
            min-width: 0;
            width: 100%;
        }
    } 
    &:after{
        display: none;
    }
}
.no_swiper4{
    &.tab_area.swiper-container .swiper-slide.tab_list{
        width: 25%;
    }
}
.no_swiper3{
    &.tab_area.swiper-container .swiper-slide.tab_list{
        width: 33.33%;
    }
}