.btn-patination-left-disabled {
	background: url("../img/sprite.svg") 5.841924398625429% 100% no-repeat;
}

.btn-patination-left-disabled-dims {
	width: 34px;
	height: 34px;
}

.btn-patination-right-normal {
	background: url("../img/sprite.svg") 17.52577319587629% 100% no-repeat;
}

.btn-patination-right-normal-dims {
	width: 34px;
	height: 34px;
}

.chat-btn-like-none {
	background: url("../img/sprite.svg") 69.12751677852349% 88.59649122807018% no-repeat;
}

.chat-btn-like-none-dims {
	width: 20px;
	height: 19px;
}

.chat-btn-like-press {
	background: url("../img/sprite.svg") 72.48322147651007% 88.59649122807018% no-repeat;
}

.chat-btn-like-press-dims {
	width: 20px;
	height: 19px;
}

.chat-detail-btn-send-disable {
	background: url("../img/sprite.svg") 0 100% no-repeat;
}

.chat-detail-btn-send-disable-dims {
	width: 34px;
	height: 34px;
}

.common-btn-bookmark-none {
	background: url("../img/sprite.svg") 89.5% 82.50728862973762% no-repeat;
}

.common-btn-bookmark-none-dims {
	width: 16px;
	height: 18px;
}

.common-btn-bookmark-press {
	background: url("../img/sprite.svg") 100% 60.05830903790088% no-repeat;
}

.common-btn-bookmark-press-dims {
	width: 16px;
	height: 18px;
}

.common-btn-checkbox-off {
	background: url("../img/sprite.svg") 43.05084745762712% 97.61194029850746% no-repeat;
}

.common-btn-checkbox-off-dims {
	width: 26px;
	height: 26px;
}

.common-btn-checkbox-on {
	background: url("../img/sprite.svg") 47.45762711864407% 97.61194029850746% no-repeat;
}

.common-btn-checkbox-on-dims {
	width: 26px;
	height: 26px;
}

.common-btn-close {
	background: url("../img/sprite.svg") 29.10958904109589% 99.3920972644377% no-repeat;
}

.common-btn-close-dims {
	width: 32px;
	height: 32px;
}

.common-btn-ic-dropdown-mini-none {
	background: url("../img/sprite.svg") 74.0924092409241% 43.05949008498584% no-repeat;
}

.common-btn-ic-dropdown-mini-none-dims {
	width: 10px;
	height: 8px;
}

.common-btn-ic-dropdown-mini-press {
	background: url("../img/sprite.svg") 99.66996699669967% 37.39376770538244% no-repeat;
}

.common-btn-ic-dropdown-mini-press-dims {
	width: 10px;
	height: 8px;
}

.common-btn-ic-logout {
	background: url("../img/sprite.svg") 97.98994974874371% 38.04034582132565% no-repeat;
}

.common-btn-ic-logout-dims {
	width: 19px;
	height: 14px;
}

.common-btn-like-none {
	background: url("../img/sprite.svg") 94.79865771812081% 38.372093023255815% no-repeat;
}

.common-btn-like-none-dims {
	width: 20px;
	height: 17px;
}

.common-btn-like-press {
	background: url("../img/sprite.svg") 91.44295302013423% 38.372093023255815% no-repeat;
}

.common-btn-like-press-dims {
	width: 20px;
	height: 17px;
}

.common-btn-more {
	background: url("../img/sprite.svg") 90% 66.3768115942029% no-repeat;
}

.common-btn-more-dims {
	width: 16px;
	height: 16px;
}

.common-btn-share {
	background: url("../img/sprite.svg") 98.10996563573883% 76.14678899082568% no-repeat;
}

.common-btn-share-dims {
	width: 34px;
	height: 34px;
}

.common-filer-ic-arrow-close {
	background: url("../img/sprite.svg") 60% 97.61194029850746% no-repeat;
}

.common-filer-ic-arrow-close-dims {
	width: 26px;
	height: 26px;
}

.common-filer-ic-arrow-open {
	background: url("../img/sprite.svg") 55.59322033898305% 97.61194029850746% no-repeat;
}

.common-filer-ic-arrow-open-dims {
	width: 26px;
	height: 26px;
}

.common-footer-btn-appstore {
	background: url("../img/sprite.svg") 51.515151515151516% 97.61194029850746% no-repeat;
}

.common-footer-btn-appstore-dims {
	width: 22px;
	height: 26px;
}

.common-footer-btn-facebook {
	background: url("../img/sprite.svg") 38.644067796610166% 97.61194029850746% no-repeat;
}

.common-footer-btn-facebook-dims {
	width: 26px;
	height: 26px;
}

.common-footer-btn-instagram {
	background: url("../img/sprite.svg") 34.23728813559322% 97.61194029850746% no-repeat;
}

.common-footer-btn-instagram-dims {
	width: 26px;
	height: 26px;
}

.common-footer-btn-playstore {
	background: url("../img/sprite.svg") 62.24832214765101% 89.38053097345133% no-repeat;
}

.common-footer-btn-playstore-dims {
	width: 20px;
	height: 22px;
}

.common-footer-btn-youtube {
	background: url("../img/sprite.svg") 93.51535836177474% 60.766961651917406% no-repeat;
}

.common-footer-btn-youtube-dims {
	width: 30px;
	height: 22px;
}

.common-footer-img-logo {
	background: url("../img/sprite.svg") 82.53676470588235% 38.70967741935484% no-repeat;
}

.common-footer-img-logo-dims {
	width: 72px;
	height: 20px;
}

.common-gnb-logo {
	background: url("../img/sprite.svg") 66.19433198380567% 39.63963963963964% no-repeat;
}

.common-gnb-logo-dims {
	width: 122px;
	height: 28px;
}

.common-ic-input-search {
	background: url("../img/sprite.svg") 87.35440931780366% 66.3768115942029% no-repeat;
}

.common-ic-input-search-dims {
	width: 15px;
	height: 16px;
}

.common-ic-more-small {
	background: url("../img/sprite.svg") 84.83333333333333% 66.3768115942029% no-repeat;
}

.common-ic-more-small-dims {
	width: 16px;
	height: 16px;
}

.common-ic-next {
	background: url("../img/sprite.svg") 92.66666666666667% 66.3768115942029% no-repeat;
}

.common-ic-next-dims {
	width: 16px;
	height: 16px;
}

.common-ic-recommend {
	background: url("../img/sprite.svg") 65.71428571428571% 89.11764705882354% no-repeat;
}

.common-ic-recommend-dims {
	width: 21px;
	height: 21px;
}

.common-ic-thumnail-like {
	background: url("../img/sprite.svg") 95.17470881863561% 65.99423631123919% no-repeat;
}

.common-ic-thumnail-like-dims {
	width: 15px;
	height: 14px;
}

.common-ic-write {
	background: url("../img/sprite.svg") 11.683848797250858% 100% no-repeat;
}

.common-ic-write-dims {
	width: 34px;
	height: 34px;
}

.common-img-404 {
	background: url("../img/sprite.svg") 0 0 no-repeat;
}

.common-img-404-dims {
	width: 327px;
	height: 327px;
}

.common-img-clinic-banner-doctor {
	background: url("../img/sprite.svg") 80.92592592592592% 50.79365079365079% no-repeat;
}

.common-img-clinic-banner-doctor-dims {
	width: 76px;
	height: 46px;
}

.common-img-clinic-banner-text-03 {
	background: url("../img/sprite.svg") 88.21490467937609% 60.946745562130175% no-repeat;
}

.common-img-clinic-banner-text-03-dims {
	width: 39px;
	height: 23px;
}

.common-img-nodata {
	background: url("../img/sprite.svg") 64.62450592885375% 58.8235294117647% no-repeat;
}

.common-img-nodata-dims {
	width: 110px;
	height: 89px;
}

.common-popup-img-qr {
	background: url("../img/sprite.svg") 100% 0 no-repeat;
}

.common-popup-img-qr-dims {
	width: 289px;
	height: 132px;
}

.common-thumb-ic-new {
	background: url("../img/sprite.svg") 75.60553633217994% 64.77987421383648% no-repeat;
}

.common-thumb-ic-new-dims {
	width: 38px;
	height: 43px;
}

.life-ic-bookmark {
	background: url("../img/sprite.svg") 58.754208754208754% 89.38053097345133% no-repeat;
}

.life-ic-bookmark-dims {
	width: 22px;
	height: 22px;
}

.life-ic-like {
	background: url("../img/sprite.svg") 55.05050505050505% 89.38053097345133% no-repeat;
}

.life-ic-like-dims {
	width: 22px;
	height: 22px;
}

.life-ic-view {
	background: url("../img/sprite.svg") 97.3063973063973% 60.766961651917406% no-repeat;
}

.life-ic-view-dims {
	width: 22px;
	height: 22px;
}

.login-btn-facebook {
	background: url("../img/sprite.svg") 85.99290780141844% 80.58252427184466% no-repeat;
}

.login-btn-facebook-dims {
	width: 52px;
	height: 52px;
}

.login-btn-google {
	background: url("../img/sprite.svg") 58.18505338078292% 81.10749185667753% no-repeat;
}

.login-btn-google-dims {
	width: 54px;
	height: 54px;
}

.login-btn-kakao {
	background: url("../img/sprite.svg") 67.55319148936171% 80.58252427184466% no-repeat;
}

.login-btn-kakao-dims {
	width: 52px;
	height: 52px;
}

.login-btn-naver {
	background: url("../img/sprite.svg") 76.77304964539007% 80.58252427184466% no-repeat;
}

.login-btn-naver-dims {
	width: 52px;
	height: 52px;
}

.pagination-btn-right-disabled {
	background: url("../img/sprite.svg") 92.26804123711341% 76.14678899082568% no-repeat;
}

.pagination-btn-right-disabled-dims {
	width: 34px;
	height: 34px;
}

.patination-btn-left-normal {
	background: url("../img/sprite.svg") 23.367697594501717% 100% no-repeat;
}

.patination-btn-left-normal-dims {
	width: 34px;
	height: 34px;
}

.swipe-btn-left, .swipe-video-btn-left, .swipe-btn-left2 {
	background: url("../img/sprite.svg") 90% 50.79365079365079% no-repeat;
}

.swipe-btn-left-dims {
	width: 46px;
	height: 46px;
}

.swipe-btn-right, .swipe-video-btn-right, .swipe-btn-right2 {
	background: url("../img/sprite.svg") 98.0701754385965% 50.79365079365079% no-repeat;
}

.swipe-btn-right-dims {
	width: 46px;
	height: 46px;
}

.video-ic-play {
	background: url("../img/sprite.svg") 81.61512027491409% 63.975155279503106% no-repeat;
}

.video-ic-play-dims {
	width: 34px;
	height: 39px;
}

.youtube-btn-ic {
	background: url("../img/sprite.svg") 88.00675675675676% 38.372093023255815% no-repeat;
}

.youtube-btn-ic-dims {
	width: 24px;
	height: 17px;
}

